.login-form,.forgotpass-form
{
    width:370px;
    height:476px;
    position: absolute;
    top:50%;
    left:50%;
    margin-left:-185px;
    margin-top:-238px;
    background:#fff;
    border-radius: 3px;
    z-index: 10;
}
.forgotpass-form
{
    width: 370px;
    height: 282px;
    top: 50%;
    margin-top: -141px;
    left:50%;
    background-color: transparent;
}
.forgotpass-form .form-padding
{
    padding: 20px;
    background-color: #fff;
}
.login-form.witherror
{
    height:540px;
    margin-top: -270px;
}
.forgotpass-form.witherror,.forgotpass-form.withmessage
{
    height: 358px;
    margin-top: -179px;
}
.maybe-logo-place
{
    height:87px;
    padding:20px;
}
.message
{
    text-align: center;
    margin:20px 0;
}
.form-padding
{
    padding: 0 20px 20px 20px;
}
div.form div.error input,div.form input, div.form textarea, div.form select,div.form div.success input, div.form div.success textarea, div.form div.success select, div.form input.success, div.form textarea.success, div.form select.success
{
    padding: 0;
    margin: 0;
    border: 1px solid #eee;
    background: none;
    width: 100%;
    font-family: HelveticaNeueCyr-Roman;
    font-size:18px;
    line-height: 20px;
    color: #666;
    border-radius: 4px;
}
div.form div.error input, div.form div.error textarea, div.form div.error select, div.form input.error, div.form textarea.error, div.form select.error
{
    font-family: HelveticaNeueCyr-Roman;
    font-size:18px;
    line-height: 20px;
    color: #666;
    padding: 0;
    margin: 0;
    border: 1px solid #ff8080;
    background: none;
    width: 100%;
    border-radius: 4px;
}
.login-form.witherror input[type=text],.login-form.witherror input[type=password]
{
    border-color:#ff8080;
}
.forgotpass-form.witherror input[type=email]
{
    border-color:#ff8080;
}
div.form .row
{
    position: relative;
    margin:20px 0;
}

input[type=text],input[type=password],input[type=email]
{
    width: 272px;
    padding-left: 54px;
    border: 1px solid #d8d8d8;
    box-shadow: inset 0 2px 3px #eeeeee;
}
input[type=text],input[type=email]
{
    background: url('../img/u.svg') no-repeat left 6px top 5px !important;
    height: 18px;
}
input[type=text]:hover,input[type=email]:hover
{
    background: url('../img/u_h.svg') no-repeat left 6px top 5px !important;
}
input[type=password]
{
    background: url('../img/p.svg') no-repeat left 6px top 5px !important;
    width: 19px;
    height: 22px;
}
input[type=password]:hover
{
    background: url('../img/p_h.svg') no-repeat left 6px top 5px  !important;
}
input[type=text]:focus,input[type=email]:focus
{
    background: url('../img/u_p.svg') no-repeat left 6px top 5px !important;
}
input[type=password]:focus
{
    background: url('../img/p_p.svg') no-repeat left 6px top 5px  !important;
}
#login-form .row.buttons,#forgotpass-form .row.buttons {
    margin-top: 42px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-transition: -webkit-box-shadow .2s ease-in-out;
    -moz-transition: -moz-box-shadow .2s ease-in-out;
    -o-transition: -o-box-shadow .2s ease-in-out;
    transition: box-shadow .2s ease-in-out;
}
#login-form .buttons input[type=submit],
#forgotpass-form .buttons input[type=submit]
{
    padding: 20px;
    font-family: HelveticaNeueCyr-Roman;
    font-size: 18px;
    color:#fff;
    background: #faa43e;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: 0;
    margin: 0;
    width: 100%;
    text-transform: uppercase;
    cursor:pointer;
}
#forgotpass-form .row.buttons
{
    margin:0;
}
.row input[type=checkbox]
{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}
div.form .rememberMe label
{
    display: inline-block;
}
input[type=checkbox] + label
{
    font-family: HelveticaNeueCyr-Roman;
    font-size: 14px;
    color:#cdcdcd;
    padding-left: 40px;
    height: 23px;
    display: inline-block;
    line-height: 23px;
    background-repeat: no-repeat;
    background: url('../img/login-checkbox.png') no-repeat 0 -22.5px;
    font-size: 15px;
    vertical-align: middle;
    cursor: pointer;
    font-weight: normal;
}
.row input[type=checkbox]:checked + label
{
    background-position: 0 0;
}
a.forgotpass,a.forgotpass:visited
{
    font-family: HelveticaNeueCyr-Roman;
    font-size: 14px;
    line-height: 23px;
    color:#cdcdcd;
    padding-left: 40px;
    height: 23px;
    text-decoration: underline;
}
a.forgotpass:hover
{
    text-decoration: none;
}
div.form .errorMessage
{
    text-align: center;
    color: #ff8080;
    font-family: HelveticaNeueCyr-Medium;
    font-size: 14px;
    line-height: 14px;
    padding:32px;
}
.filter {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
}
.bg {
    background: url('../img/bg.jpeg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 100%;
     min-width: 1024px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    left: 0;
}
.forgotpass-title
{
    font-size: 24px;
    line-height: 28px;
    font-family: HelveticaNeueCyr-Medium;
    color:#fff;
    text-shadow: 5px 0px 3px #020202;
    -moz-text-shadow: 1px 1px 1px #020202;
    -webkit-text-shadow: 1px 1px 1px #020202;
    /* For IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=177, Color='#020202')";
    /* For IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=177, Color='#020202');
    text-align: center;
    padding: 0 0 30px 0;
}
.forgotpass-form .back-par
{
    margin-top: 30px;
    text-align: center;
}
.forgotpass-form .go-to-signin,.forgotpass-form .go-to-signin:hover,.forgotpass-form .go-to-signin:focus
{
    font-size: 14px;
    line-height: 18px;
    font-family: HelveticaNeueCyr-Roman;
    color:#eaeaea;
    text-decoration: none;
}
::-webkit-input-placeholder {color:#d1d1d1;}
::-moz-placeholder          {color:#d1d1d1;}
:-moz-placeholder           {color:#d1d1d1;}
:-ms-input-placeholder      {color:#d1d1d1;}

